body {
  display: flex;
  justify-content: center;
  background-color: #e0e5ec;
}

.hidden {
  display: none;
}

main {
  margin-top: 3rem;
  width: 22rem;
  height: 40rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(33, 33, 33, 0.5);
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.7),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
}

.timer {
  margin: 2rem 0 1rem 0;
}
.circle {
  position: relative;
  box-shadow: 16px 16px 25px rgb(163, 177, 198, 0.7),
    -16px -16px 25px rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 270px;
  height: 270px;
}

.path {
  position: absolute;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  /* box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); */
}

.path::after {
  content: "";
  position: absolute;
  height: 35px;
  width: 10px;
  border-radius: 10px;
  background-color: #e0e5ec;
  /* border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #e0e5ec; */
  top: -6%;
  left: 50%;
  transform: translate(-50%, 0%);
}

@keyframes moveTracker {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 5rem;
  letter-spacing: -px;
  color: rgba(33, 33, 33, 0.9);
}

.box {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 1rem 0 1rem;
  background-color: #e0e5ec;
  box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
    inset -1px -1px 2px 0 rgba(255, 255, 255, 0.5);
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.info {
  text-align: center;
  font-style: italic;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 50px;
  /* box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
    inset -1px -1px 2px 0 rgba(255, 255, 255, 0.8); */
}
.panel {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

label {
  margin-bottom: 0.35rem;
}

.buttons {
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

i {
  color: #212121;
}

button:hover i {
  color: rgba(33, 33, 33, 0.3);
}

button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 8px rgb(163, 177, 198, 0.9),
    -4px -4px 8px rgba(255, 255, 255, 0.9);
}

button i {
  color: rgba(33, 33, 33, 0.9);
}

button:active {
  box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2),
    inset -3px -3px 5px 0 rgba(255, 255, 255, 0.5);
}

.mainBtn {
  height: 3.3rem;
  width: 3.3rem;
}

.mainBtn i {
  font-size: 2rem;
}
/* styling the input range */

input[type="range"] {
  margin-bottom: 0.7rem;
  -webkit-appearance: none;
  background: transparent;
  border-color: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: #e0e5ec;
  box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
    inset -1px -1px 2px 0 rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  /* border: 1px solid #e0e5ec; */
}

input::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background-color: #e0e5ec;
  box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
    inset -1px -1px 2px 0 rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  border: 2px solid #e0e5ec;
}
input::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background-color: #e0e5ec;
  box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
    inset -1px -1px 2px 0 rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  cursor: pointer;
  border-radius: 15px;
  background-color: rgba(30, 136, 229, 1);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  cursor: pointer;
  border-radius: 16px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(33, 33, 33, 0.5);
  box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.4),
    -1px -1px 1px 0 rgba(255, 255, 255, 0.3);
}
