body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
  /* height: 100vh; */
}

main {
  margin-top: 3rem;
  width: 23rem;
  height: 35rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}

.progress {
  position: relative;
}
.progress-ring {
  /* border: 1px solid red; */
}
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 5rem;
}

.hidden {
  display: none;
}

.box {
  border: 1px solid black;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 1rem;
}

.navigation {
  display: flex;
  justify-content: center;
}

.info {
  text-align: center;
}

.range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
}
